{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="bg3">  

  <form id="registerForm" class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-sm-8 col-md-6 col-lg-6 col-xl-5">
        <h1 class="display-4">Create Account</h1>
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="inputPassword1">Password</label>
          <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="inputPassword2">Repeat Password</label>
          <input type="password" class="form-control" id="inputPassword2" placeholder="Repeat password">
        </div>
        <button type="submit" class="btn btn-outline-info">Sign Up</button> 
      </div>
    </div>  
  </form>

</div>
{% endblock %}
