{% extends "base.html" %}

{% block title %}Request Password Reset{% endblock %}

{% block content %}

<div class="bgBase">

  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col-md-6 text-white">
        
        <h1 class="display-4">Reset Password</h1>

        <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.email.label }}
          {{ form.email(class="form-control") }}
        </div>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <p>{{ form.submit(class="btn btn-outline-info") }}</p>
        </form> 
      </div>
    </div>
  </div>
  
</div>

{% endblock %}