{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="bgBase">

  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col-md-6 text-white">
        
        <h1 class="display-4">Reset Your Password</h1>
        <form action="" method="post">
        {{ form.hidden_tag() }}

        <div class="form-group">
          {{ form.password.label }}
          {{ form.password(class="form-control") }}
        </div>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <div class="form-group">
          {{ form.password2.label }}
          {{ form.password2(class="form-control") }}
        </div>
        {% for error in form.password2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <p>{{ form.submit(class="btn btn-outline-info") }}</p>
        </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}
