{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="bg container-fluid d-flex flex-row justify-content-center align-items-center">
  <section id="headingGroup" class="jumbotron text-center text-white bg-transparent">
    <h1 class="display-4">Your <span>Korean</span> Study Buddy</h1>
    <p class="lead">Practice Korean through quizzes with Chingu.</p>
    <hr class="my-4">
    <a class="btn btn-outline-info btn-lg" href="{{ url_for('core.quiz_setup') }}" role="button">시작</a>
  </section>
</div>
  
{% endblock %}